@using PagedList
@using PagedList.Mvc
@using MvcESaglik.Models.Siniflar
@model PagedList.IPagedList<Asi>
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table#t01 tr:nth-child(even) {
            background-color: #f0ef9a;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #a7f3f8;
        }

        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h2>AŞI SAYFASI</h2>
    <table class="table table-bordered" style="margin-top:20px" id="t01">
        <tr>
            <th>Aşı ID</th>
            <th>Aşı Adı</th>
            <th>Aşı Tarihi</th>
            <th>Yapılan Kurum</th>
            <th>Hasta</th>
        </tr>
        @foreach (var asi in Model)
        {
            <tr>
                <td style="font-size:15px">@asi.AsiID</td>
                <td style="font-family:Centaur; font-size:22px">@asi.AsiAd</td>
                <td style="font-family:Centaur; font-size:20px">@Convert.ToDateTime(asi.AsiTarihi).ToString("dd/MM/yyyy")</td>
                <td style="font-family:Centaur; font-size:20px">@asi.Kurum.KurumAd</td>
                <td style="font-family:Centaur; font-size:20px">@asi.KullaniciProfil.KullaniciAd @asi.KullaniciProfil.KullaniciSoyad</td>
            </tr>
        }
    </table>
    <br />
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index3",
    new { sayfa }), new PagedListRenderOptions { LiElementClasses = new List<string> { "page-link" } })
</body>
</html>