@model MvcESaglik.Models.Siniflar.Yorum
@{
    ViewBag.Title = "DoktorYorumYap";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<br />
<h2>Doktor Yorum Sayfası</h2>
<br />
@using (Html.BeginForm("DoktorYorumYap", "DoktorProfil", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.Yorumlama)
        @Html.TextBoxFor(x => x.Yorumlama, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Yorumlama, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.YorumTarihi)
        @Html.TextBoxFor(x => x.YorumTarihi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.DoktorProfil.DoktorID)
        @* Html.TextBoxFor(x => x.Doktorid, new { @class = "form-control" }) *@
        @Html.DropDownListFor(x => x.Doktorid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.KullaniciProfil.TcNo)
        @* Html.TextBoxFor(x => x.KullaniciProfilTcNo, new { @class = "form-control" }) *@
        @Html.DropDownListFor(x => x.KullaniciProfilTcNo, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
}