@using PagedList
@using PagedList.Mvc
@using MvcESaglik.Models.Siniflar
@model PagedList.IPagedList<Kurum>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table#t01 tr:nth-child(even) {
            background-color: #f0ef9a;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #ae91ef;
        }

        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Kurum", FormMethod.Get))
    {
        <p style="color:deeppink">
            Kurum Adı: @Html.TextBox("p")
            <input type="submit" value="Ara" style="color:deepskyblue"/>
        </p>
    }
    <br />
    <h2>KURUMLAR</h2>
    <table class="table table-bordered" style="margin-top:20px" id="t01">
        <tr>
            <th>Kurum ID</th>
            <th>Kurum İsmi</th>
            <th>İlçe</th>
            <th>İl</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var krm in Model)
        {
            <tr>
                <td style="font-size:15px">@krm.KurumID</td>
                <td style="font-family:Centaur; font-size:19px">@krm.KurumAd</td>
                <td style="font-family:Centaur; font-size:19px">@krm.İlce.İlceAd</td>
                <td style="font-family:Centaur; font-size:19px">@krm.İl.İlAd</td>
                <td>
                    @Html.ActionLink("Sil", "KurumSil", new { id = krm.KurumID },
               new { @class = "btn btn-warning", onclick = "return confirm('Silmek İstiyor musunuz?')" })
            </td>
            <td><a href="/Kurum/KurumGetir/@krm.KurumID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
    </table>
    <br />
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index",
    new { sayfa }), new PagedListRenderOptions { LiElementClasses = new List<string> { "page-link" } })
    <br />
    <a href="/Kurum/KurumEkle/" class="btn btn-primary">Yeni Kurum Ekle</a>
</body>
</html>