@using MvcESaglik.Models.Siniflar
@model List<DoktorProfil>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background-color:darkkhaki">
                <h3 class="card-title">Doktor Bilgi Tablosu</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap" style="background-color:navajowhite">
                    <thead>
                        <tr>
                            <th style="background-color:lightsalmon">#</th>
                            <th style="background-color:lightsalmon">Doktor Adı</th>
                            <th style="background-color:lightsalmon">Yaşı</th>
                            <th style="background-color:lightsalmon">Cinsiyeti</th>
                            <th style="background-color:lightsalmon">Branşı</th>
                            <th style="background-color:lightsalmon">Çalıştığı Kurum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.DoktorID</td>
                                <td>@x.DoktorAd @x.DoktorSoyad</td>
                                <td>@x.Yas</td>
                                <td>@x.Cinsiyet</td>
                                <td>@x.Brans.BransAd</td>
                                <td>@x.Kurum.KurumAd</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>