@model MvcESaglik.Models.Siniflar.Randevu
@{
    ViewBag.Title = "RandevuGetir";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}
<br />
<h2>Randevu Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("RandevuGuncelle", "KullaniciPanel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.RandevuNo)
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.DoktorProfil.DoktorID)
    @Html.DropDownListFor(x => x.Doktorid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.İl.İlID)
    @Html.DropDownListFor(x => x.İlid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.İlce.İlceID)
    @Html.DropDownListFor(x => x.İlceid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Klinik.KlinikID)
    @Html.DropDownListFor(x => x.Klinikid, (List<SelectListItem>)ViewBag.dgr4, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Kurum.KurumID)
    @Html.DropDownListFor(x => x.Kurumid, (List<SelectListItem>)ViewBag.dgr5, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.KullaniciProfil.TcNo)
    @Html.DropDownListFor(x => x.KullaniciProfilTcNo, (List<SelectListItem>)ViewBag.dgr6, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Durum)
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Saat)
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}